! urxvt colors
!! special
URxvt.background: #161616
URxvt.foreground: #efefef
URxvt.cursorColor: #F5E0DC

!! black
URxvt.color0: #777777
URxvt.color8: #616161

!! red
URxvt.color1: #efefef
URxvt.color9: #7B93A6

!! green
URxvt.color2: #85A999
URxvt.color10: #96B1A9

!! yellow
URxvt.color3: #969696
URxvt.color11: #B7B7B7

!! blue
URxvt.color4: #758891
URxvt.color12: #90A4A9

!! magenta
URxvt.color5: #A2B4BC
URxvt.color13: #efefef

!! cyan
URxvt.color6: #8CA6A3
URxvt.color14: #8FABA7

!! white
URxvt.color7: #A5A5A5
URxvt.color15: #C0C0C0

! urxvt appearance
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.font: xft:MesloLGM\ Nerd\ Font\ Mono:style=Regular:pixelsize=15

