! urxvt colors
!! special
URxvt.background: #3a3a3a 
URxvt.foreground: #d0d0d0 
URxvt.cursorColor: #d0d0d0
URxvt.cursorColor2: #3a3a3a
URxvt.colorBD: #e4e4e4

!! black
URxvt.color0: #4e4e4e
URxvt.color8: #626262

!! red
URxvt.color1: #d68787 
URxvt.color9: #d75f87

!! green
URxvt.color2: #5f865f
URxvt.color10: #87af87

!! yellow
URxvt.color3: #d8af5f
URxvt.color11: #ffd787 

!! blue
URxvt.color4: #85add4
URxvt.color12: #add4fb

!! magenta
URxvt.color5: #d7afaf
URxvt.color13: #ffafaf

!! cyan
URxvt.color6: #87afaf
URxvt.color14: #87d7d7

!! white
URxvt.color7: #d0d0d0
URxvt.color15: #e4e4e4

! urxvt appearance
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.font: xft:MesloLGM\ Nerd\ Font\ Mono:style=Regular:pixelsize=15

